{% extends 'core/base.html' %}

{% block title %} Rooms {% endblock %}

{% block content %}
<div class="row">
    {% for room in rooms %}
  <div class="col-sm-6 mb-3 mt-3" style="max-width: 30rem;">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"> {{ room.name }} </h5>
        <p class="card-text">{{ room.description }}</p>
        <a href="{% url 'room' room.slug %}" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
    {% endfor %}
</div>
{% endblock %}

